.recommendedVideos{
    flex: 1;
    min-height: 92;
    max-height: 92vh;
    display: grid;
    /* border: 5px solid brown; */
    grid-template-rows: 8vh auto;
    background-color: #f9f9f9;
}

.recommendedVideos.toggled{
    position: fixed;
    flex: 1;
    max-height: 92vh;
    display: grid;
    /* border: 5px solid brown; */
    grid-template-rows: 8vh auto;
    background-color: #f9f9f9;
}

@media (width < 460px ) {
    .recommendedVideos{
        max-height: 82vh;
        min-height: 82vh;
    }
}